.contactItemPreview {
    display: flex;
    width: 100%;
  }
  
  .contactItemPreview li {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 8px;
    padding: 15px;
    border-radius: 50px;
    background-color: rgb(52, 52, 52);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .contactItemPreview div {
    display: flex;
    flex-direction: column;
    margin: 10px;
    justify-content: center;
    align-items: center;
  }
  
  .contactItemPreview img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }
  
  .contactItemPreview button {
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: rgb(43, 43, 43);
    color: white;
    font-weight: bold;
    border: 1px solid white;
    transition: 0.3s ease-in-out;
    cursor: pointer;
  }
  
  .contactItemPreview button:hover {
    background-color: white;
    color: rgb(43, 43, 43);
    border: 1px solid rgb(43, 43, 43);
  }
